.button {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: var(--color-secondary);
    color: var(--color-neutral-white);
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
