.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.phone-container {
  width: 300px;
  height: 600px;
  border: 2px solid var(--color-neutral-dark);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-display {
  width: 80%;
  height: 80%;
  border: 2px solid var(--color-neutral-dark);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.inner-display {
  padding: 10px 20px;
}

.button-container {
  margin-bottom: 0px;
}
