@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  --color-primary-light: #79B0EB;
  --color-primary: #006CDE;
  --color-primary-dark: #0659B2;
  --color-secondary: #0C4586;
  --color-secondary-dark: #0D2150;
  --color-neutral-white: #FFF;
  --color-neutral-light: #F9FBFD;
  --color-neutral: #DAEBFE;
  --color-neutral-gray: #666C7B;
  --color-neutral-dark: #00123D;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-neutral-dark);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-neutral-dark);
}

label {
  font-size: 14px;
  letter-spacing: 3%;
  text-transform: uppercase;
}
